html{
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

#top{
    box-sizing: border-box;
    height:10%;
    width: 100%;
}

#middle{
    box-sizing: border-box;
    height: 30%;
    width: 100%;
}

#bottom{
    box-sizing: border-box;
    height: 60%;
    width: 100%;
}



.thin{
    border-style: solid;
    border-color: black;
    border-width: 0 5px 5px 0px;

    justify-content: flex-end;
    align-items: flex-end;
}

.rightend{
    border-right: 0;
}

.base{
    border-bottom: 0;
}

.full{
    box-sizing: border-box;
}

.XXsmall{
    box-sizing: border-box;
    flex-basis: 8.05%;
}

.Xsmall{
    box-sizing: border-box;
    flex-basis: 17.5%;
}

.small{
    box-sizing: border-box;
    flex-basis: 23.75%
}

.medium{
    box-sizing: border-box;
    flex-basis: 33.75%
}

.large{
    box-sizing: border-box;
    flex-basis: 48.75%
}

.Xlarge{
    box-sizing: border-box;
    flex-basis: 68.2%
}

.white{
    background-color: white;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.words{
    display: flex;
}

#lowrect{
    box-sizing: border-box;
    height: 13%;
    border-top: 8px solid black;
}

#highrect{
    box-sizing: border-box;
    height: 87%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10%;
}

#overbox{
    box-sizing: border-box;
    height: 37%;
}

#underbox{
    box-sizing: border-box;
    height: 63%;
}

.important{
    font-size: 5em;
    margin: 0;
    padding: 0 3% 0 2%;
}

.links{
    font-size: 4em;
    margin: 0;
    padding: 3% 3% 0 2%;

}

#title{
    justify-content: flex-start;
} 