html{
    height: 100%;
    margin:0;
}

body{
    height: 100%;
    margin:0;
}

#full{
    height: 100%;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#wrapper{
    height: 100%;
    flex-grow: 2;
    max-width: 67%;
    background-color: #f5d2bc;
    display: flex;
    align-items: center;
}

#social{
    display: flex;
    flex-grow: 1;
    max-width: 20%;
    align-items: center;
}

h1{
    padding-left: 10%;
    font-size: 4.5em;
    line-height: 1.5em;  
}

