html{
    height: 100%;
    margin:0;
}

body{
    height: 100%;
    margin:0;
}

#app{
    height: 100%;
}

#wrapper{
    height: 100%;
    width: 67%;
    background-color: #f5d2bc;
    display: flex;
    align-items: center;
}

h1{
    padding-left: 10%;
    font-size: 4.5em;
    line-height: 1.5em;  
}

